<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" id="styles" href="/css/light.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
    <header>
        <%- include ('../partial/header-post', {loggedName}, {loggedNameAdmin}) %>
    </header>

    <div class="kotak-profile">

        <p class="par2">Pengaturan Profile</p>

        <form action="/profile/success" method="post">
            <div>
                <label for="nama">Nama</label>
                <div class="input-icon-nama">
                    <!-- <i class="fa fa-user" style="position: absolute; padding-left: 23px; padding-top: 10px;"></i> -->
                    <input type="text" name="name" class="ganti-nama" style="font-weight:500;" value="<%= User.name %>">
                </div>
            </div>

            <div>
                <label for="email">Email</label>
                <div class="input-icon-email">
                    <!-- <i class="fas fa-envelope" style="position: absolute; padding-left: 23px; padding-top: 10px;"></i> -->
                    <input type="text" name="email" readonly class="ganti-email" style="font-weight:500;"
                        value="<%= User.email %>">
                </div>
            </div>

            <div>
                <label for="nomorhp">Nomor HP</label>
                <div class="input-icon-hp">
                    <!-- <i class="fas fa-phone-alt" style="position: absolute; padding-left: 23px; padding-top: 10px;"></i> -->
                    <input type="text" name="phoneNumber" class="ganti-nomorhp" style="font-weight:500;"
                        value="<%= User.phoneNumber %>">
                </div>
            </div>

            <button type="submit" class="tombol-simpan-perubahan" id="tombol-submit" onclick="myFunction()">Simpan
                Perubahan
            </button>


            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="demo">Perubahan berhasil disimpan</p>
                </div>
            </div>
        </form>



        <a href="#" class="balik-beranda">
            < Kembali ke Beranda </a> </div> <footer>
                <%- include ('../partial/footer') %>
                </footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>

<script src="/js/darkmode.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>

    $('.logo').click(function () {
        window.location.href = '/' /* requesting redirect page on logo click */
    })

    function navLogin() {
        window.location.href = '/login'
    }
</script>

<script>
    function myFunction() {
        var txt;
        if (confirm("Perubahan berhasil disimpan")) {
            txt = "Perubahan berhasil disimpan";
        } else {
            txt = "Perubahan gagal disimpan";
        }
        document.getElementById("demo").innerHTML = txt;
    }
</script>

<script>
    var modal = document.getElementById("myModal");

    var btn = document.getElementById("tombol-submit");

    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
